<section class="tours-header bg-slate-50">
  <div class="t-container">
    <div class="header-content">
        <h1 >Welcome to Your Next Adventure</h1>
        <p class="text-gray-600">
          Discover breathtaking destinations and unforgettable experiences curated just for you. Whether you dream of exploring hidden gems, soaking in scenic landscapes, or embarking on thrilling excursions, we’re here to make your travel aspirations a reality. Start your journey today and create memories that last a lifetime.
        </p>
    </div>
  </div>
</section>
