body{
  display: grid;
  grid-template-columns: 20% 80%;
}

.slide-dashboard
{

  width: 100%;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  gap: 12px;

}
.slide-dashboard h1{
  font-family: 'poopins-bold';
}
.dashboard-list{


}
.dashboard-list li {
  width: 100%;
  padding: 1.25rem 1.5rem;
  border:  1px solid #e2e8f0;
  border: none;
  font-size: 15px;

  background-color: #f1f5f9;

  transition: all 0.3s ease;
  color: #1e293b;
  cursor: pointer;
}
.dashboard-list li:hover{
  background-color: #cbd5e1;
  color: #0f172a;
  transform: scale(1.05);
}
.tour-list{
  padding: 15px 40px;
}
.tour-list > h1{
  font-family: 'poopins-bold';
  font-size: 30px;
}
.tour-list > p{
  font-size: 12px;
}
.tour-list-container{
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
#tour-item {
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border: #e2e8f0 2px solid;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#tour-item:hover{
  transform: scale(1.02);
}
.tour-buttons{
  display: flex;
  gap: 15px;

}
.tour-buttons button{
  border-radius: 0px;
  padding: 0.5rem 0.7rem;
  width: 120px;
  border-radius: 5px;
}
#danger{
  background-color:  #d9534f ;
  color: white;
}
#danger:hover{
    background-color: #c74e4a;
}
#view{
  background-color:  #5cb85c ;
}
#view:hover{
  background-color: #4da14d;
}
#edit{

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-Delete-container {
  background: #fff;
  border: 1px solid #ccc;
  width: 450px;
  height: 300px;
  padding: 1rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirm-Delete-container p {
  margin: 0 0 1rem;
}

.confirm-Delete-container button {
  margin-right: 0.5rem;
  border-radius: 0px;
  padding: 0.5rem 0.7rem;
  width: 100px;
  border-radius: 5px;
}
