<nav class="bg-slate-100 dark:bg-gray-900 dark:border-gray-700 shadow">
  <div class="nav-container grid md:grid-cols-3 mx-auto xl:grid-cols-10 gap-4 min-h-[100px]">
    <div class="flex  nav-logo-container col-span-2">
      <a href="" class="nav-logo-link flex">
        <!--   -->
        <span id="logo-title">DashBoard</span>
      </a>
    </div>

    <div class="col-span-6 nav-list-container">
      <ul class="nav-list flex justify-evenly h-full p-4">
        <ng-container *ngFor="let item of navbarList" class="flex">
          <a  class="transition duration-300 ease-in-out list-item-link" [routerLink]="'/'+item.name">
            <li class="nav-list-item flex flex-col justify-center text-center"  >
              <fa-icon class="nav-list-icon text-center" [icon]="item.icon"></fa-icon>
              <span class="nav-list-title text-center" style="text-transform: capitalize;">{{ item.name }}</span>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>

    <div *ngIf="IsLoggedIn === true" class="col-span-2 rounded-lg nav-tail">
      <div class="nav-tail-container">

        <div class="dark-mode-container">
          <button>
            <fa-icon class="nav-darkmode-icon" [icon]="darkMode"></fa-icon>
          </button>
        </div>
        <div class="dark-mode-container">
          <button (click)="onLogout()">
            <fa-icon class="nav-darkmode-icon" [icon]="logOut"></fa-icon>
          </button>
        </div>
        <div class="nav-user-container">
          <img [src]="UsersPhotoUrl + useData.photo" alt="">
        </div>
      </div>
    </div>
  </div>
</nav>
