.login {
  width: 100%;
}
.login-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem;
}
.login-box {
  padding: 3.5rem;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  background-color: white;
  border-radius: 10px;
  min-width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 20px;
}

.login-header {
  font-size: 2rem;
  font-family: 'Poopins-semi';
  background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
form{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form-group{
  display: flex;
  flex-direction: column;
}
.form-group-content{
  display: flex;
  width: 100%;
  position: relative;
}
form label {
  font-size: 1.2rem;
  position: absolute;
  top: 15px;
}

.form__input {
  margin-left: 10px;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  width: 100%;
  background-color: #fff;
  border-bottom: #f1f5f9 solid 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='submit'] {
  max-width: 150px;
  padding: 1rem 2.25rem;
  color: white;
  background-color: rgb(17, 151, 147);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
}

input[type='submit']:hover {
  max-width: 200px;
  background-color: rgb(12, 104, 101);
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid rgb(214, 194, 139);
}


.form__input::placeholder {
  color: #c4cfdb;
}
.invalid {
  border-bottom: 3px solid rgb(244, 17, 17);
}
.msg {
  margin-top: 10px;
  color: rgb(251, 27, 27);
}
