/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0px;
  padding: 0px;

}
@font-face {
  font-family:'poopins-bold';
  src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');

}
@font-face {
  font-family: 'Poopins-semi';
  src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poopins-mid';
  src: url('/assets/fonts/Poppins/Poppins-Medium.ttf') ;
  font-weight: normal;
  font-style: normal;
}
/* For Firefox */
body {
  overflow-x: hidden !important; /* Hides the horizontal scrollbar */
  overflow-y: auto !important;   /* Keeps the vertical scrollbar visible */
}
